<mat-card>
  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Item">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Date" type="date">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Due" type="date">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Qty" type="number">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Tax" type="number">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Rate" type="number">
    </mat-form-field>
  </div>
</mat-card>
