.table-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.menu-bar {
  position: absolute;
  right: 60px;
  color: rgb(255, 255, 255);
  background-color: #ff4081;
}
