<div class="limiter">
  <div class="container-login">
    <mat-card>
      <div *ngIf="isResultsLoading" class="mat-elevation-z8">
        <div class="loading-shade">
          <mat-spinner color="accent"></mat-spinner>
        </div>
      </div>
      <mat-card-title>Forgot Password</mat-card-title>
      <mat-card-content>
        <form class="form-container" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
          <mat-form-field color="accent"  >
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="form.controls.email.invalid && form.controls.email.touched"> email is required</mat-error>
          </mat-form-field>
          <button mat-raised-button class="btn-block" color="accent">Submit</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
